<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Adicionar Lembrete</title>
</h:head> 
<h:body>
	<h3>Adicionar lembrete</h3>
	
	<h:form>
		<h:panelGrid columns="3">
			<h:outputLabel value="Título:" />
			<h:inputText id="titulo" value="#{lembreteBean.lembrete.titulo}" required="true">
				<f:validateLength minimum="3" maximum="255" />
			</h:inputText>
			<h:message for="titulo"/>
			
			<h:outputLabel value="Descrição:" />
			<h:inputTextarea id="descricao" value="#{lembreteBean.lembrete.descricao}" required="true">
				<f:validateLength minimum="3" maximum="255"/>
			</h:inputTextarea>
			<h:message for="descricao"/>
			
			<h:outputLabel value="Início:" />
			<h:inputText id="data-inicio" value="#{lembreteBean.lembrete.inicio}" required="true">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.timezone}" />
			</h:inputText>
			<h:message for="data-inicio"/>
			
			<h:outputLabel value="Prioridade:" />
			<h:selectOneMenu id="prioridade" value="#{lembreteBean.lembrete.prioridade}" required="true">
				<f:selectItems value="#{lembreteBean.prioridades}" var="prioridade" 
					itemValue="#{prioridade}" itemLabel="#{prioridade.descricao}"/>
			</h:selectOneMenu>
			<h:message for="prioridade"/>
		</h:panelGrid>
		<h:commandButton value="Enviar" action="#{lembreteBean.inserir}" />
	</h:form>
	
	<h:link value="Voltar" outcome="home"/>
</h:body> 
</html>