<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>CRUD com JSF/JPA</title>
</h:head> 
<h:body>
	<h1>Listagem de lembretes</h1>
	
	<h:messages globalOnly="true"/>
	
	<h:link value="Novo lembrete" outcome="adicionar"/>
	
	<h:dataTable value="#{lembreteBean.lembretes}" var="lembrete">
		<h:column>
			<f:facet name="header">#</f:facet>
			#{lembrete.id}
		</h:column>
		<h:column>
			<f:facet name="header">Título</f:facet>
			#{lembrete.titulo}
		</h:column>
		<h:column>
			<f:facet name="header">Descrição</f:facet>
			#{lembrete.descricao}
		</h:column>
		<h:column>
			<f:facet name="header">Início</f:facet>
			<h:outputText value="#{lembrete.inicio.time}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</h:outputText>
		</h:column>
		<h:column>
			<f:facet name="header">Prioridade</f:facet>
			<h:outputText value="#{lembrete.prioridade}" />
		</h:column>
		<h:column>
			<f:facet name="header">Arquivado</f:facet>
			<h:outputText value="#{lembrete.arquivadoAsString}" />
		</h:column>
		<h:column>
			<h:link value="Editar" outcome="editar">
				<f:param name="lembrete" value="#{lembrete.id}" />
			</h:link>
		</h:column>
		<h:column>
			<h:link value="Remover" outcome="remover">
				<f:param name="lembrete" value="#{lembrete.id}" />
			</h:link>
		</h:column>
	</h:dataTable>
</h:body>
</html>