<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Remover lembrete</title>
	
	<f:metadata>
		<f:viewParam name="lembrete" value="#{lembreteBean.lembrete.id}" />
		<f:event listener="#{lembreteBean.selecionar}" type="preRenderView"></f:event>
	</f:metadata>
</h:head> 
<h:body>
	<h:messages globalOnly="true" />

	<h:panelGrid rendered="#{lembreteBean.lembrete.id != 0}">
		<h1>
			Deseja remover esse lembrete "<h:outputText value="#{lembreteBean.lembrete.titulo}" />"?
		</h1>
		
		<p>
			Cadastro em
			<h:outputText value="#{lembreteBean.lembrete.criacao}">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.timezone}"/>
			</h:outputText>
			.
		</p>
		
		<h:form>
			<h:commandButton action="#{lembreteBean.excluir}" value="Confirmar" />
		</h:form>
	</h:panelGrid>
	
	<h:link value="Voltar" outcome="home" />
</h:body>
</html>